@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.zWfUXoQplX7DedyRJ0Rl,
._M8cCug8H18ALQ05cNMt,
.rfwQfzz6DVBVPNyQIs9o,
.n6GuqIk3cK3cSgL5gW1Z,
.Z2PYS5vNVghY4m46zQQV,
.BYpXSnOHfrC2td4QRijO{
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

.pOvRwHj19chJGkgemUH3{
    position: relative;
}

.logo-container{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.logo-container img{
    max-width: 80px;
    height: auto;
    background-color: #0066FF;
    border-radius: 100%;
}

.logo-hidden{
    display: none;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .login-container input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-container .error {
    color: red;
    margin-bottom: 10px;
  }  